<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top"></div>
    <section class="content">
      <section class="container"></section>
    </section>
    {{{body}}}
    {{> foot}}
  </body>
</html>
